/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
/*	card	details	start	 */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');

.card {
	padding: 0;
}
.card-content {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.card-body {
	padding: 1.25rem;
}
.card-body	h3 {
	color: #000000;
	font-weight: 600;
	font-size: 1.5em;
	line-height: 1.3em;
	margin-top: 0;
	margin-bottom: 5px;
	padding: 0;
}
.card-body p {
	color: #747373;
	font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.form-group {
	text-align: left;
}
.btn-card {
	background-color: #1ABC9C;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	padding: .84rem	2.14rem;
	font-size: .81rem;
	-webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	-o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-inout, box-shadow .15s ease-in-out;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-inout, box-shadow .15s ease-in-out;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color	.15s ease-inout, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	margin: 0;
	border: 0;
	-webkit-border-radius: .125rem;
	border-radius: .125rem;
	cursor: pointer;
	text-transform: uppercase;
	white-space: normal;
	word-wrap: break-word;
	color: #fff;
}
.btn-card:hover {
	background: orange;
}
a.btn-card {
	text-decoration: none;
	color: #fff;
}
/*	End	card	section	*/

body{
	background-image: url("assets/images/fondo.png");
}

nav{
	background-color: #bfe3fd;
	border-radius: 10px;
	margin-bottom: 10px;
}
nav li{
	margin: 0 10px;
}

.titulo{
	background-color: #1ABC9C;
	padding: 20px;
	color: white;
	width: 100%;
	border-radius: 10px;
	margin: 10px;
	text-align: center;
}

form button{
	width: 70%;
}
.crear-plan{
	background-color: #FFA442;
}
.eliminar-plan{
	background-color: #FF0000;
}